node_modules/
.expo/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# VSCode
.vscode/

# Firewall solutions
.npmrc

# dotenv
.env.local
.env.development.local
.env.test.local
.env.production.local